body {
    margin: 0;
    padding: 0;
    background-image: url(../balance.jpg);
    background-size: cover;
}

.login-form {
    width: 320px;
    height: 420px;
    background: black;
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.liton {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 20px;
}

.login-form p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-form input {
    width: 100%;
    margin-bottom: 20px;
}

.login-form input[type="text"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 16px;
}

.login-form input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: white;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    font-weight: bold;
}

.login-form input[type="submit"]:hover {
    cursor: pointer;
    background: blue;
    color: black;
}

.login-form a {
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    color: darkgray;
}

.login-form a:hover {
    color: blue;
}
